/* BASIC RULES */

body
{
    margin: 0;
    background-color: #212121;
}

h1, h2, h3, p
{
    color: #fff
}

h1, h2, h3
{
    font-family: "BABHeading";
}

h1
{
    font-size: 4em;
}

h2
{
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3
{
    font-size: 2em;
}

a
{
    font-family: "BABHeading";
    color: #fff;
    font-size: 2em;
}

.linkBump
{
    margin-left: 20px;
}

/* LAYOUTS */

.catalogSection
{
    padding: 0 20px 0 20px;
}

.catalogSection h2
{
    margin-left: 20px;
}

.itemGrid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Item Grid Card */

.itemName
{
    grid-area: name;
    max-height: 100px;
}

.itemCost
{
    grid-area: cost;
}

.itemShortDesc
{
    grid-area: desc;
}

.itemLink
{
    grid-area: link;
    align-self: end;
}

.itemImage
{
    grid-area: image;
    width: 75%;
}

.itemCard
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "name image"
        "desc image"
        "cost image"
        "link image";
    align-items: start;
    padding: 10px;
    background-color: #d74a2a;
    margin: 15px;
    border-radius: 10px;
}

.itemCard a
{
    color: #212121;
    font-size: 1.75em;
    text-decoration: none;
}

.itemCard a:hover
{
    text-decoration: underline;
}

.itemCard h3
{
    margin-top: 0;
}

/* Item Detail Card */

.detailName
{
    margin: 5px 0;
    grid-area: name;
}

.detailDesc
{
    grid-area: desc;
    font-size: 1.5em;
}

.detailCost
{
    grid-area: cost;
    align-self: self-end;
}

.detailImage
{
    grid-area: image;
    width: 75%;
}

.detailEntry
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "name name"
        "desc image"
        "cost image";
    background-color: #d74a2a;
    padding: 10px;
    padding-bottom: 25px;
    border-radius: 10px;
    margin: 20px 15%;
}

/* About Page */

.aboutText p
{
    font-size: 16pt;
}