/* BASIC RULES */

body
{
    margin: 0;
    background-color: #212121;
}

h1, h2, h3, p
{
    color: #fff
}

h1, h2, h3
{
    font-family: "BABHeading";
}

h1
{
    font-size: 4em;
}

h2
{
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3
{
    font-size: 2em;
}

p
{
    font-family: 'Adelle', serif;
    font-size: 16pt;
}

a
{
    font-family: "BABHeading";
    color: #fff;
    font-size: 2em;
}

.linkBump
{
    margin-left: 20px;
}

/* LAYOUTS */

#main-navigation
{
    position: sticky;
}

.catalogSection
{
    padding: 0 20px 0 20px;
}

.catalogSection h2
{
    margin-left: 20px;
}

.itemGrid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Item Grid Card */

.itemName
{
    grid-area: name;
    max-height: 100px;
}

.itemCost
{
    grid-area: cost;
}

.itemShortDesc
{
    grid-area: desc;
}

.itemLink
{
    grid-area: link;
    align-self: center;
}

.itemImage
{
    grid-area: image;
    width: 100%;
}

.itemCard
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: #d74a2a;
    margin: 15px;
    border-radius: 10px;
}

.itemCard a
{
    color: #212121;
    font-size: 1.75em;
    text-decoration: none;
}

.itemCard a:hover
{
    text-decoration: underline;
}

.itemCard h3
{
    margin-top: 0;
}

/* Item Detail Card */

.detailName
{
    margin: 5px 0;
    grid-area: name;
}

.detailDesc
{
    grid-area: desc;
    font-size: 1.5em;
}

.detailCost
{
    grid-area: cost;
    align-self: self-end;
}

.detailImage
{
    grid-area: image;
    width: 75%;
}

.detailEntry
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "name name"
        "desc image"
        "cost image";
    background-color: #d74a2a;
    padding: 10px;
    padding-bottom: 25px;
    border-radius: 10px;
    margin: 20px 15%;
}

/* About Page */

.aboutTitle
{
    margin-left: 20px;
}

.aboutText1
{
    grid-area: text1;
    font-size: 16pt;
}

.aboutText2
{
    grid-area: text2;
    font-size: 16pt;
}

.aboutText3
{
    grid-area: text3;
    font-size: 16pt;
}

.aboutGrid
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "text1 image"
        "text2 image"
        "text3 image";
    margin: 20px;
}

.aboutImage
{
    grid-area: image;
    margin-left: 20px;
    width: 100%;
}

/* MEDIA QUERIES */

@media (max-width: 1036px)
{
    .aboutGrid
    {
        grid-template-areas: 
            "text1 image"
            "text2 image"
            "text3 text3";
    }
}

@media (max-width:952px)
{
    .aboutGrid
    {
        grid-template-areas: 
            "text1 image"
            "text2 text2"
            "text3 text3";
    }
}

@media (max-width: 768px)
{
    .itemGrid
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .itemCard
    {
        grid-template-areas: 
        "name name"
        "image image"
        "desc desc"
        "cost cost"
        "link link";
    }

    .itemImage
    {
        justify-self: center;
    }

    .itemShortDesc
    {
        justify-self: start;
    }

    .detailEntry
    {    margin: 20px 5%;
        
    }

    .aboutGrid
    {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "image"
            "text1"
            "text2"
            "text3";
        
    }
}

@media (max-width: 480px)
{
    .itemGrid
    {
        grid-template-columns: 1fr;
    }

    .aboutTitle
    {
        font-size: 2em;
    }
} 

